Repository zcong1993/nest-stack: changes, and which Codecov flags are due for each by the changed paths.
All: prometheus, config

codecov.yml:

coverage:
  status:
    project:
      prometheus:
        flags: prometheus
      config:
        flags: config


flags:
  prometheus:
    paths:
      - packages/prometheus/
  config:
    paths:
      - packages/config/

ci: tweak codecov config
  codecov.yml
Due: none

v0.10.2
  lerna.json
  packages/config/package-lock.json
  packages/config/package.json
  packages/prometheus/package-lock.json
  packages/prometheus/package.json
Due: prometheus, config

update readme
  .prettierignore
  README.md
  lerna.json
  package.json
  packages/config/tsconfig.json
  packages/context/tsconfig.json
  packages/http/tsconfig.json
  packages/logger/tsconfig.json
  packages/prometheus/tsconfig.json
  tslint.json
Due: prometheus, config

fix readme
  README.md
Due: none

docs(config): add docs
  packages/config/README.md
Due: config

docs(config): fix typo
  packages/config/README.md
Due: config

feat: add renovate config keep deps green
  renovate.json
Due: none

chore(deps): update dependency @types/jest to v25
  package-lock.json
  package.json
Due: none

chore(deps): update dependency jest to v25
  package-lock.json
  package.json
Due: none

test: ci test add tsc build
  package.json
Due: none

ci: move circle ci config
  .circleci/config.yml
Due: none

chore(deps): update node.js to v11.15.0
  .circleci/config.yml
Due: none

chore(deps): update dependency ts-jest to v25
  package-lock.json
  package.json
Due: none

fix(deps): update dependency uuid to v7
  packages/context/package-lock.json
  packages/context/package.json
Due: none

chore(deps): update dependency @types/uuid to v7
  packages/context/package-lock.json
  packages/context/package.json
Due: none

chore(deps): update dependency tslint to v6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @nestjs/schematics to v7
  package-lock.json
  package.json
Due: none

chore(deps): update nest monorepo
  package-lock.json
  package.json
  packages/context/package.json
  packages/http/package.json
  packages/logger/package.json
  packages/prometheus/package.json
Due: prometheus

chore: bump deps
  package-lock.json
  packages/http/package-lock.json
  packages/http/package.json
Due: none

v0.11.0
  lerna.json
  packages/config/package-lock.json
  packages/config/package.json
  packages/context/package-lock.json
  packages/context/package.json
  packages/http/package-lock.json
  packages/http/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/prometheus/package-lock.json
  packages/prometheus/package.json
Due: prometheus, config

chore(deps): update dependency prettier to v2
  package-lock.json
  package.json
Due: none

chore(renovate): update renovate config
  renovate.json
Due: none

chore(deps): update dependency ts-loader to v7
  package-lock.json
  package.json
Due: none

feat(context): add native impl
  lerna.json
  packages/context/src/factory.ts
  packages/context/src/native/context.ts
  packages/context/src/native/index.ts
  packages/context/src/native/interceptor.ts
  packages/context/src/native/middleware.ts
  packages/context/src/native/util.ts
Due: none

v0.12.0
  lerna.json
  packages/config/package-lock.json
  packages/config/package.json
  packages/context/package-lock.json
  packages/context/package.json
  packages/http/package-lock.json
  packages/http/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/prometheus/package-lock.json
  packages/prometheus/package.json
Due: prometheus, config

chore(context): tweak asyncctx as optionalDependencies
  packages/context/package.json
Due: none

v0.12.1
  lerna.json
  packages/context/package-lock.json
  packages/context/package.json
  packages/http/package-lock.json
  packages/http/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
Due: none

chore(context): auto compact version
  lerna.json
  packages/context/src/cls/context.ts
  packages/context/src/cls/index.ts
  packages/context/src/cls/interceptor.ts
  packages/context/src/cls/middleware.ts
  packages/context/src/cls/util.ts
  packages/context/src/index.ts
  packages/context/src/native/interceptor.ts
  packages/prometheus/__test__/index.test.ts
  packages/prometheus/src/config.ts
Due: prometheus

chore(context): tweak export module type
  packages/context/src/index.ts
Due: none

v0.12.2
  lerna.json
  packages/context/package-lock.json
  packages/context/package.json
  packages/http/package-lock.json
  packages/http/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/prometheus/package-lock.json
  packages/prometheus/package.json
Due: prometheus

fix(deps): update dependency uuid to v8
  packages/context/package-lock.json
  packages/context/package.json
Due: none

chore(deps): update dependency jest to v26
  package-lock.json
  package.json
Due: none

chore(version): bump version
  lerna.json
  packages/config/package-lock.json
  packages/config/package.json
  packages/context/package-lock.json
  packages/context/package.json
  packages/http/package-lock.json
  packages/http/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/prometheus/package-lock.json
  packages/prometheus/package.json
Due: prometheus, config

v0.13.1
  lerna.json
  packages/config/package-lock.json
  packages/config/package.json
  packages/context/package-lock.json
  packages/context/package.json
  packages/http/package-lock.json
  packages/http/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/prometheus/package-lock.json
  packages/prometheus/package.json
Due: prometheus, config

chore(prom): tweak prometheus label
  lerna.json
  packages/context/src/interceptor.ts
  packages/prometheus/__test__/index.test.ts
  packages/prometheus/src/config.ts
  packages/prometheus/src/mw.ts
  packages/prometheus/src/prom.ts
Due: prometheus

v0.13.2
  lerna.json
  packages/context/package-lock.json
  packages/context/package.json
  packages/http/package-lock.json
  packages/http/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/prometheus/package-lock.json
  packages/prometheus/package.json
Due: prometheus

v0.13.3
  lerna.json
  packages/config/package-lock.json
  packages/config/package.json
  packages/context/package-lock.json
  packages/context/package.json
  packages/http/package-lock.json
  packages/http/package.json
  packages/logger/package-lock.json
  packages/logger/package.json
  packages/prometheus/package-lock.json
  packages/prometheus/package.json
Due: prometheus, config
