Repository zcong1993/nest-stack: changes, and which Codecov flags are due for each by the changed paths.
All: prometheus, config, context

codecov.yml:

coverage:
  status:
    project:
      prometheus:
        flags: prometheus
      config:
        flags: config
      context:
        target: auto
        threshold: 5%
        base: auto
        flags: context

flags:
  prometheus:
    paths:
      - packages/prometheus/
  config:
    paths:
      - packages/config/
  context:
    paths:
      - packages/context/

chore(deps): update dependency @nestjs/schematics to v8
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rxjs to v7
  package.json
  packages/context/package.json
  packages/http/package.json
  yarn.lock
Due: context

chore(deps): update nest monorepo
  package.json
  packages/context/package.json
  packages/http/package.json
  packages/logger/package.json
  packages/prometheus/package.json
  packages/tracing/package.json
  yarn.lock
Due: prometheus, context

fix(deps): update dependency prom-client to v13
  packages/prometheus/package.json
  yarn.lock
Due: prometheus

chore(deps): update codecov/codecov-action action to v2
  .github/workflows/js-test.yml
Due: none

fix: lint
  packages/context/src/middleware.ts
Due: context

v0.50.0
  lerna.json
  packages/context/package.json
  packages/prometheus/package.json
Due: prometheus, context

fix(deps): update dependency @zcong/context-async-hooks to ^0.2.0
  packages/context/package.json
  yarn.lock
Due: context

chore(deps): update dependency @types/jest to v27
  package.json
  yarn.lock
Due: none

fix(deps): update dependency prom-client to v14
  packages/prometheus/package.json
  yarn.lock
Due: prometheus

chore(deps): update actions/setup-node action to v3
  .github/workflows/js-test.yml
Due: none

chore(deps): update actions/checkout action to v3
  .github/workflows/js-test.yml
Due: none

chore(deps): update actions/cache action to v3
  .github/workflows/js-test.yml
Due: none

chore(deps): update codecov/codecov-action action to v3
  .github/workflows/js-test.yml
Due: none

chore(deps): update dependency tsconfig-paths to v4
  package.json
  yarn.lock
Due: none

chore(deps): update jest monorepo to v28
  package.json
  yarn.lock
Due: none

chore(deps): update dependency lerna to v5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/jest to v28
  package.json
  yarn.lock
Due: none
